extends page_template

block content
  div#feed-content
    unless owner 
      if follow
        a#follow-button(href='/users/#{stream_id}/unfollow') Unfollow
      else
        a#follow-button(href='/users/#{stream_id}/follow') Follow
    for photo in photos
      span.feed-image-div
        a(href="/photos/#{photo.path}")
          img.feed-image(src='/photos/thumbnail/#{photo.path}')
        div.feed-caption
          span 
            a.name-link(href='/users/#{photo.id}')=photo.name
            span.date-span=photo.time
      br